.loadingNoteAnimation{
    animation: noteSpin 1s infinite linear;
}

@keyframes noteSpin {
    from{
        transform: rotate(-90deg);
    }
    50%{
        transform: rotate(90deg);
    }
    to{
        transform: rotate(-90deg);
    }
}

.wpiApearence{
    animation: wpiApereance 4s 1 linear;
}

@keyframes wpiApereance {
    from{
        /* opacity-0 invisible translate-x-6 transition-all ease-linear duration-200 */
        opacity: 0;
        visibility:hidden;
        transform: translate(24px);
        background: #000;
    }
    90%{
        opacity: 0;
        visibility:hidden;
        transform: translate(24px);
        background: #000;
    }
    to{
        opacity: 100%;
        visibility: visible;
        transform: translate(0);
    }
}

.textAppereance {
    transition: all ease-in-out;
    animation: textAppear 0.7s 1 linear;
}
@keyframes textAppear {
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
    
}